/* Sélecteurs d'éléments ! sélectionnent tous les éléments html concernés et à leurs descendants. Body s'applique à toute la page */

body{
    margin: 0 20%;
    text-align: justify;
}

h1
{
    background-color : #f7f7f7;
    border : 1px solid #339999;
    color : #cc6633;
    padding : 3px 8px; /* haut/bas, droite/gauche (respectivement) */
    width : 98.5%;
    margin-top : 25px;
    font-size : 2.5em;
}

h2 
{
    color : #cc6633;
    font-variant : small-caps;
    letter-spacing : 0.5em;
    font-size : 1.5em;
}

h3 
{
    color : #cc6633;
    font-size : 1.5em;
    font-weight: 500;
}

a{
    color : #cc6633;
}

/* Sélecteurs de classe : s'appliquent à tous les éléments dont l'attribut class correspond */

.formtitle{ /* ne s'applique qu'aux h4 du formulaire, qui possèdent l'attribut class="formtitle" */
    font-style: oblique;
}


/* Sélecteurs  d'id : affecte un style à un élément unique */ 

#imgEsigelec{
    float:right;
}

#imgBigData, #imgESRI{ /* On peut définir une liste de sélecteurs en les séparant par une virgule */
    height: 3em;
}

#videoEsigelec{
    width:500px;
    height:315px;
    border:0;
    text-align:center;
    margin: 0 auto;
}

#basdepage{
    background-color: lightcyan;
}

